* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*----------IMPORTANDO TIPOGRAFIAS---------*/
  /*--------MONSERRAT------------*/
  @font-face {
    font-family: "Monse";
    src: url("../tipografias/Monserrat/Montserrat-VariableFont_wght.ttf")
      format("truetype");
  }
}

.inicio-parte1 {
  background-image: url(../images/Fondos/Fondo\ Inicio.jpg);
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
  color: white;
  text-align: center;
  justify-items: center;
}

.descripcion img {
  min-width: 100px;
  max-width: 275px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.logo img {
  max-width: 250px;
}

.descripcion,
.logo {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  font-family: "Monse", sans-serif;
}

.inicio-parte1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.35;
  z-index: 1;
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .inicio-parte1 {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
